<div class="container">

    <h2 class="uppercase title">World Cup 2022 Simulator</h2>

    <app-simulation-setup *ngIf="simulationSetupVisible" (closeModal)="onSetupClosed()" (confirmModal)="onSetupConfirmed($event)"></app-simulation-setup>

    <div class="buttons-container">
        <button type="button" (click)="showSimulationSetup()" [disabled]="simulationState === 'in-progress'" class="btn btn-primary">Setup simulation</button>
        <button type="button" (click)="onMainButtonClicked()" [disabled]="!(matches && matches.length)" class="btn btn-success">{{mainButtonText}}</button>
    </div>   

    <div class="matches-container" *ngIf="matches && matches.length">
        <div *ngFor="let match of matches" class="single-match">
            <app-match [match]="match" [goalScored]="goalScored" [resetMatch]="resetMatch"></app-match>
        </div>
    </div>

    <p *ngIf="matches && matches.length" class="uppercase" style="text-align: center;">Total goals: {{goalsCounter}}</p>
</div>
